<h2>Player: {{ vm.player.name }}</h2>
<img ng-src="{{ vm.player.avatarUrl }}"></img>
<p>Position: {{ vm.player.position }}</p>
<p>Team: <a href="#/teams/{{ vm.player.teamId }}">{{ vm.player.teamId| teamIdToName }}</a></p>
<p>Age: {{ vm.player.age }}</p>
<p>Origin: {{ vm.player.origin.city }}, {{ vm.player.origin.country }}</p>

<h2>Goals</h2>
<p ng-if="vm.playerGoals.length == 0">N/A</p>
<table ng-if="vm.playerGoals.length > 0">
  <thead>
    <tr>
      <th>Match</th> <th>Match Minute</th> <th>Shot Distance (meters)</th> <th>Shot Location</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="goal in vm.playerGoals | orderBy:'matchId'">
      <div>
        <td><a href="#/games/{{ goal.matchId }}">{{ goal.matchId }}</a></td>
        <td>{{ goal.matchMinute }}</td>
        <td>{{ goal.shot.distance}}</td>
        <td>{{ goal.shot.location }}</td>
      </div>
    </tr>
  </tbody>
</table> 