<div class="jumbotron">
  <h2 class="text-center">{{ vm.player.name }}</h2>
  <img ng-src="{{ vm.player.avatarUrl }}" class="img-responsive img-circle center-block"></img>
  <h3 class="text-center"><a href="#/teams/{{ vm.player.teamId }}">{{ vm.player.teamName }}</a></h3>
  <p class="text-center">{{ vm.player.position }}</p>
  <p class="text-center">{{ vm.player.age }} years</p>
  <p class="text-center">{{ vm.player.origin.city }}, {{ vm.player.origin.country }}</p>
</div>

<h3 class="text-center">Goals</h3>
<p class="text-center" ng-if="vm.playerGoals.length == 0">N/A</p>
<div class="table-responsive col-md-6 col-md-offset-3">
  <table class="table table-hover" ng-if="vm.playerGoals.length > 0">
    <thead>
      <tr>
        <th class="text-center">Match</th> <th class="text-center">Match Minute</th> <th class="text-center">Shot Distance (meters)</th> <th class="text-center">Shot Location</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="goal in vm.playerGoals | orderBy:'matchId'">
        <div>
          <td class="text-center"><a href="#/games/{{ goal.matchId }}">{{ goal.matchId }}</a></td>
          <td class="text-center">{{ goal.matchMinute }}</td>
          <td class="text-center">{{ goal.shot.distance}}</td>
          <td class="text-center">{{ goal.shot.location }}</td>
        </div>
      </tr>
    </tbody>
  </table> 
</div>